{% load crispy_forms_tags %}

<aside class="text-center pt-5 bg-gray-50 h-screen">
    
    <div class="grid grid-cols-3">
        <div></div>
        <div class="flex flex-col justify-center items-center">
            <img src="{{ profile.thumbnail.crop.80x80 }}" alt="{{ profile.user }}" class="rounded-full">
        </div>
        <i class="fa-solid fa-gears fa-lg text-end px-2.5 cursor-pointer" data-modal-target="authentication-modal" data-modal-toggle="authentication-modal"></i>
    </div>
    <div class="mt-5">
        <div class="p-5 flex flex-col justify-end gap-4 w-5/6 mx-auto ms-12">
            {% if profile.user.first_name or profile.user.last_name %}
                <div class="flex items-center">
                    <span class=" text-end">
                        <i class="fa-solid fa-user fa-md" data-modal-target="authentication-modal" data-modal-toggle="authentication-modal"></i>
                    </span>
                    <div class="text-base font-semibold text-star mt-0.5 px-4">
                        {% if profile.user.first_name %}
                            {{ profile.user.last_name|capfirst|first }}. {{ profile.user.first_name|capfirst }}
                        {% else %}
                            {{ profile.user.last_name|capfirst }}
                        {% endif %}
                    </div>
                </div>            
            {% endif %}
            {% if profile.birthdate %}
                <div class="flex items-center">
                    <div class=" text-end">
                        <i class="fa-regular fa-solid fa-cake-candles fa-md"></i>
                    </div>
                    <div class="text-base font-semibold text-star mt-[1px] px-4">{{ profile.birthdate|date:"d F Y" }} &nbsp;[{{ profile.age }} year old]</div>
                </div>
            {% endif %}
            {% if profile.user.email %}
                <div class="flex items-center">
                    <span class=" text-end">
                        <i class="fa-solid fa-envelope fa-md"></i>
                    </span>
                    <div class="text-base font-semibold text-star mb-[3px] px-4">{{ profile.user.email }}</div>
                </div>
            {% endif %}
            {% if profile.phone %}
                <div class="flex items-center">
                    <span class=" text-end">
                        <i class="fa-solid fa-phone-volume fa-md "></i>
                    </span>
                    <div class="text-base font-semibold text-star mb-0.5 px-4 uppercase">{{ profile.phone }}</div>
                </div>
            {% endif %}
        </div>
    </div>
</aside>



  
<!-- Main modal -->
<div id="authentication-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Sign in to our platform
                </h3>
                <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="authentication-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5">
                <form class="space-y-4" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                </form>
            </div>
        </div>
    </div>
</div> 
  