{% extends "base.html" %}
{% load static %}

{% block title %}{{ profile.slug }}{% endblock title %}


{% block content %}
    <div class="w-10/12 mx-auto grid grid-cols-12 h-screen">

        {% comment %} Sidebar section {% endcomment %}
        <aside class="col-span-4 text-center pt-5 border-e border-stone-500">
            <div class="flex flex-col justify-center items-center">
                <img src="{{ profile.thumbnail.crop.80x80 }}" alt="{{ profile.user }}" class="rounded-full">
                <h1 class="text-xs mt-1 text-stone-500"><i>Don't worry about it, You're doing well.</i></h1>
                <h1 class="text-xs mt-1 text-stone-500">{{ user|upper }}</h1>
            </div>
            <div class="px-5 mb-5">
                <div class="flex justify-between items-center mt-3 grid grid-cols-8">
                    <span class="ml-10 text-blue-400 col-span-2">
                        <i class="fa-solid fa-user fa-lg"></i><b> :</b>
                    </span>
                    <div class="text-lg text-stone-500 font-semibold text-start col-span-6">{{ profile.user.first_name|capfirst }} {{ profile.user.last_name|capfirst }}</div>
                </div>
                <div class="flex justify-between items-center mt-3 grid grid-cols-8">
                    <span class="ml-10 text-blue-400 col-span-2">
                        <i class="fa-regular fa-calendar-days fa-lg text-blue-400 col-span-2"></i><b> :</b>
                    </span>
                    <div class="text-lg text-stone-500 font-semibold text-start    col-span-6">30 January 1989</div>
                </div>
                <div class="flex justify-between items-center mt-3 grid grid-cols-8">
                    <span class="ml-10 text-blue-400 col-span-2">
                        <i class="fa-solid fa-envelope fa-lg text-blue-400 col-span-2"></i><b> :</b>
                    </span>
                    <div class="text-lg text-stone-500 font-semibold text-start    col-span-6">oneforall@gmail.com</div>
                </div>
                <div class="flex justify-between items-center mt-3 grid grid-cols-8">
                    <span class="ml-10 text-blue-400 col-span-2">
                        <i class="fa-solid fa-phone-volume fa-lg text-blue-400 col-span-2"></i><b> :</b>
                    </span>
                    <div class="text-lg text-stone-500 font-semibold text-start    col-span-6">0926194852</div>
                </div>
            </div>
            <button class="tracking-widest">
                <p class="bg-slate-200 shadow-lg p-1 border-slate-950 font-bold text-sm hover:text-white hover:bg-gray-900 rounded">Edit profile</p>
            </button>
        </aside>
        
        
        {% comment %} Library section {% endcomment %}
        <main class="col-span-8 p-5">
            <h1 class="text-4xl font-medium text-center uppercase">Your Library</h1>
            <div class="ms-5 mt-5">
                {% for blog in blogs %}
                <div class="border-b border-rose-200">
                    <div class="text-3xl text-blue-400 mb-1">
                        <p> 
                            <a href="{% url 'blog:blog-detail' blog.pk %}" class="hover:text-blue-200">
                                {{ blog.name }}
                            </a>
                        </p>
                    </div>
                    <a href="{% url "profile:user_profile" blog.writer %}">
                        <p class=" text-slate-600"><i>By {{ blog.writer }}</i></p>
                    </a>
                    <p class="flex justify-between items-center text-slate-600">
                        <span class="flex space-x-3 mb-2 items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-week" viewBox="0 0 16 16">
                                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                            </svg>
                            <i>Last Updated {{ blog.created|date:"j F Y" }}</i>
                        </span>
                        <span class="flex space-x-4">
                            <span>
                                {% comment %} Bookmark button {% endcomment %}
                                {% if user.is_authenticated %}
                                    <span>
                                        {% if user in blog.bookmark.all %}
                                            <a href="{% url "blog:blog-bookmark-add" blog.pk %}">
                                                <i class="fa-solid fa-bookmark text-slate-600"></i>
                                            </a>
                                        {% else %}
                                            <a href="{% url "blog:blog-bookmark-add" blog.pk %}">
                                                <i class="fa-regular fa-bookmark text-slate-600"></i>
                                            </a>
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </span>
                            <span>
                                {% if user in blog.likes.all %}
                                    <a href="{% url "blog:blog-like" blog.pk %}">
                                        <i class="fa-solid fa-thumbs-up text-slate-600"></i>
                                    </a>
                                    &nbsp;{{ blog.number_of_likes }}
                                {% else %}
                                    <a href="{% url "blog:blog-like" blog.pk %}">
                                        <i class="fa-regular fa-thumbs-up text-slate-600"></i>
                                    </a>
                                    &nbsp;{{ blog.number_of_likes }}
                                {% endif %}
                            </span>
                        </span>
                    </p> 
                </div> <br>
                {% endfor %}
            </div>
        </main>
    </div>
{% endblock content %}