{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %} | BSM.</title>

    <!-- tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- flowbite -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">  
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        body, html{
          height: 100%;
        }
    </style>
  </head>
  <body class="h-full garamond-font">
    {% include "header.html" %}
    {% block content %}{% endblock content %}
    {% block sidebar %}{% endblock sidebar %}
    {% include "footer.html" %}
    
    
    <!-- Alpine Js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!-- Flowbite Js -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>

  </body>
</html>