{% extends "base.html" %}
{% load static %}

{% block title %}homepage{% endblock %}

{% block content %}
    <div class="container mx-auto">
        <div class="text-center text-5xl h-52 items-center font-normal tracking-widest flex items-center">
            <div class="w-full">
                <span class="border border-slate-100 shadow-md px-2 bg-slate-50">
                    BLOGS
                </span> <br>
                <span class="text-lg tracking-widest">
                    Be study like blacksmith mentality.
                </span>
            </div>
        </div> <br>
        <div class="w-3/6 mx-auto">
            {% for blog in blogs %}
            <div class="border-b border-rose-200">
                <div class="text-3xl text-blue-400 mb-1">
                    <p>
                        <a href="{% url 'blog:blog-detail' blog.pk %}" class="hover:text-blue-200">
                            {{ blog.name }}
                        </a>
                    </p>
                </div>
                <a href="{% url "profile:user_profile" blog.writer %}">
                    <p class=" text-slate-600"><i>By {{ blog.writer }}</i></p>
                </a>
                <p class="flex justify-between items-center text-slate-600">
                    <span class="flex space-x-3 mb-2 items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-week" viewBox="0 0 16 16">
                            <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                        </svg>
                        <i>Last Updated {{ blog.created|date:"j F Y" }}</i>
                    </span>
                    <span>
                        {% if user in blog.likes.all %}
                            <a href="{% url "blog:blog-like" blog.pk %}">
                                <i class="fa-solid fa-thumbs-up text-slate-600"></i>
                            </a>
                            &nbsp;{{ blog.number_of_likes }}
                        {% else %}
                            <a href="{% url "blog:blog-like" blog.pk %}">
                                <i class="fa-regular fa-thumbs-up text-slate-600"></i>
                            </a>
                            &nbsp;{{ blog.number_of_likes }}
                        {% endif %}
                    </span>
                </p> 
            </div> <br>
            {% endfor %}
        </div>
    </div> <br>
{% endblock %}