{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Blog Form{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
<div class="container mx-auto"> <br>
    <p class="text-center text-3xl tracking-widest font-normal">
        <span>Let's start your story.</span> <br>
        <span>. . . . .</span>
    </p>
</div>
<form class="w-4/6 mx-auto" action="{% url 'blog:blog-form' user.pk %}" method="POST" novalidate> <br>
    {% csrf_token %}
    <div>
        {{ form|crispy }}
    </div>
    <div class="text-center">
        <button class="tracking-widest">
            <p class="bg-slate-200 shadow-lg p-1 border-slate-950 font-bold text-2xl hover:text-white hover:bg-gray-900 rounded">SUBMIT</p>
        </button>
    </div>
</form> <br>


<script>
    var name = "{{ user.pk }}";
    document.getElementById('writer').value = name;
</script>
{% endblock %}