<nav class="flex absolute justify-between items-center py-2 border-b border-slate-100 bg-slate-50 shadow-sm sticky top-0 w-full">
    <div class="flex-shrink-0 ml-5 cursor-pointer text-zinc-950 hover:text-zinc-400">
        <a href="{% url 'blog:blog-home' %}">
            <i class="fa-solid fa-oil-well fa-2x"></i>
            <span class="ml-2 text-2xl font-bold tracking-wider">
                BSM.
            </span>
        </a>
    </div>
    <ul class="flex mr-5 font-semibold">
        {% if user.is_authenticated %}
        <li class="">
            <span class="mr-2 border px-3 py-1 text-white bg-gray-950 rounded-full">
                <a href="#" class="cursor-pointer text-lg">
                    {{ user.username }}
                </a>
            </span>
        </li>
        <li class="mr-6 p-0 h-[100%]">
            <div 
                x-data="{
                    open: false,
                    toggle() {
                        this.open = this.open ? this.close() : true
                    },
                    close(focusAfter) {
                        this.open = false

                        focusAfter && focusAfter.focus()
                    }
                }"
                @keydown.escape.prevent.stop="close($refs.button)"
                @focusin.window="! $refs.panel.contains($event.target) && close()"
                x-id="['dropdown-button']"
            >
                <i  
                    x-ref="button"
                    @click="toggle()"
                    :aria-expanded="open"
                    :aria-controls="$id('dropdown-button')"
                    class="fa-solid fa-angles-down text-[14px] cursor-pointer hover:text-zinc-400 mt-2"
                ></i>
                <div 
                    x-ref="panel"
                    x-show="open"
                    x-transition.scale.origin.top.right
                    @click.outside="close($refs.button)"
                    :id="$id('dropdown-button')"
                    style="display: none;" 
                    class="absolute right-11 mt-1 bg-slate-50 border border-slate-100 font-medium w-36 border border-zinc-300 rounded-lg"
                >
                    <div>
                        <a href="#" class="block w-full px-4 py-2 text-left text-sm hover:bg-gray-100 flex">
                            Your Profile <i class="fa-solid fa-address-card text-[20px] right-3 absolute items-center"></i>
                        </a>
                        <a href="{% url 'blog:blog-form' user.id %}" class="block w-full px-4 py-2 text-left text-sm hover:bg-gray-100 flex">
                            <span>Write Story</span> <i class="fa-regular fa-pen-to-square text-[20px] right-3 absolute items-center"></i>
                        </a>
                    </div>
        
                    <div class="border-t border-zinc-300 cursor-pointer">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <a 
                                onclick="this.parentNode.submit();"
                                class="block w-full px-4 py-2 text-left text-sm hover:bg-gray-100 flex"
                            >
                                Log out <i class="fa-solid fa-arrow-right-from-bracket text-[20px] right-3 absolute items-center"></i>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </li>

        <!-- Dropdown -->
        {% else %}
        <li class="mx-2">
            <a href="{% url 'login' %}" class="text-zinc-950 cursor-pointer text-zinc-950 hover:text-zinc-400 text-md">
                Sign in
            </a>
        </li>
        |
        <li class="ml-2 mr-1">
            <a href="{% url 'accounts:sign-up' %}" class="text-zinc-950 cursor-pointer text-zinc-950 hover:text-zinc-400 text-md">
                Sign up
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
